<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                        layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${title} ?:'Categories List'">Categories List</title>
    <link href="https://cdn.tailwindcss.com" rel="stylesheet"> <!-- Include Tailwind CSS as a stylesheet -->
</head>
<body>
    <section layout:fragment="content">
        <h1>Categories List</h1>
        <div class="w-10 h-3 bg-blue-600">
            <a class="text-xs text-white" th:href="@{/categories/add}">Add New Category</a>
        </div>
    </section>

</body>
</html>